.product-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
}
h1{
    text-align: center;  
    color: #0d6efd; 
    padding: 3%; 
}

#btnn{
    display: inline-flex;
}


/* .product-item {
    width: 20rem;
    max-width: 95%;
    border-radius: 20px;
    box-shadow: 2px 3px 8px rgb(3, 83, 79);
} */

/* .product__title {
    font-size: 1.2rem;
    text-align: center;
} */

/* .product__price {
    text-align: center;
    color: #4d4d4d;
    margin-bottom: 0.5rem;
} */

.product__description {
    text-align: center;
}